[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gender-guesser = "*"
prettytable = "*"
build = "*"
check-manifest = "*"
hatch = "*"
pytest = "*"
coverage = "*"
tox = "*"
pytest-sugar = "*"
twine = "*"
fuzzywuzzy = "*"
levenshtein = "*"
pytest-mock = "*"
pytest-cov = "*"

[dev-packages]

[requires]
python_version = "3.10"
